.rcorners1 {
     
   
  padding: 20px;
  width: 700px auto;
   background-color: rgba(143, 121, 121, 0.021);
     
     
  }
  
  .rcorners {
    border-radius: 25px;
background-color: red;}

.aa{
    text-decoration: none;
    color: greenyellow;
}